body
{
    margin:0px;
    padding: 0px; /*gyári margó beállítás nullázása*/
    font-family: Helvetica;
}
 
.menufelso
{
    padding: 12px;
    background: #f0f0f0; /*#1D1D1F*/
    display: flex; /*minden a kereten belül található objektum flexibilis elhelyezkedésű*/
    align-items: center; /*függőlegesen középre igazodik a fleex dobozon belül minden belső objektum*/
}
 
.felirat
{
   
    color: black;
    text-decoration: none;
    font-size: 12px;
    width: 18%;
}
 
.separator
{
    border: 1px solid black;
    height: 15px;
    margin-right: 20px;
    margin-left: 0px;
}
.menualso
{
    background: black;
    align-items: center;
   
}
 
.bal
{
    width: 30%;
    display: flex; /*minden a kereten belül található objektum flexibilis elhelyezkedésű*/
    align-items: center;
}
 
.kozepso
{
    width: 50%;
    display: flex; /*minden a kereten belül található objektum flexibilis elhelyezkedésű*/
    align-items: center;
}
 
.menukozepso
{
    width: 30%;
}
 
.menubal
{
    width: 0%;
}
 
.logokep
{
    height: 280px;
    width: auto;
    margin: -130px 400px -110px -10px;
   
}
 
.menupont
{
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;    
    padding: 40px;
    display: inline-block;
    height: 20px;
    width: 150px;
    justify-content: space-between;
 
}
 
.menupont:hover
{
    font-weight: bold
}
 
.felirat:hover
{
    text-decoration:underline;
}
 
 
.footer{
    padding: 20px;
    color: blueviolet;
    display: block;
}
 
.sor{
    width: 100%;
  border: 0%;
  height: 350px;
  padding-top: 50px;
}
.kep1{
    width: 30%;
  border: 0%;
  margin: 20px;
  padding: 0%;
  height: 300px;
  float: left;
  margin-left: 33px;
}
.elso{
    width: 102%;
    height: 102%;
}
.sor2{
    width: 100%;
    height: 50px;
    border: 0%;
    margin-bottom: 50px;
}
.gomb{
    width: 382px;
    border: 0%;
    padding-left: 100px;
    padding-left: 100px;
    height: 50px;
    float: left;
    margin-left: 76px;
    margin-right: 76px;
    background-color: black;
}
.cim1{
    color: goldenrod;
    margin-left: 25%;
}
.cim2{
    color: goldenrod;
    margin-left: 32%;
}
.cim3{
    color: goldenrod;
    margin-left: 20%;
}
.cim4{
    color: goldenrod;
    margin-left: 25%;
}
.cim5{
    color: goldenrod;
    margin-left: 30%;
}
.cim6{
    color: goldenrod;
    margin-left: 30%;
}
footer{
    bottom: 0;
    background: black;
    width: 100%;
    height: 200px;
}
 
.link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: right;
}
 
.link:hover{
    font-weight: bold;
}
.kislogo{
    text-align: left;
    display: inline;   
}
.alsoszoveg{
    float: right;
    display:inline ;
    text-align: right;   
    padding-right: 30px;
}
 