body{
    margin:0px;
    padding: 0px;
    font-family: Helvetica;
    background: #180c0e;
}
 
.menualso{
    background: black;
    align-items: center;
   
}
 
.bal{
    width: 30%;
    display: flex;
    align-items: center;
}
 
.kozepso{
    width: 50%;
    display: flex;
    align-items: center;
}
 
.menukozepso{
    width: 30%;
}
 
.menubal{
    width: 0%;
}
 
.logokep{
    height: 280px;
    width: auto;
    margin: -130px 400px -110px -10px;
   
}
 
.menupont{
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;    
    padding: 40px;
    display: inline-block;
    height: 20px;
    width: 150px;
    justify-content: space-between;
 
}
 
.menupont:hover{
    font-weight: bold
}
 
.felirat:hover{
    text-decoration:underline;
}
 
.nepszeru{
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
 
}
 
footer{
    bottom: 0;
    background: black;
    width: 100%;
    height: 200px;
}
 
.link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: right;
}
 
.link:hover{
    font-weight: bold;
}
 
.kislogo{
    text-align: left;
    display: inline;  
}
 
.alsoszoveg{
    display:inline ;
    text-align: right;  
    padding-right: 30px;
    float: right;
}
 
.kisfilm1{
    width: 30%;
    border: 0%;
    margin: 20px;
    padding: 0%;
    height: 300px;
    float: left;
    margin-left: 33px;
}
 
.gomb{
    border: none;
    background: goldenrod;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 12px 28px;
    margin: 25px 80px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
    margin-left: auto;
}
 
.gomb:hover{
    text-decoration: underline;
}
 
.kiskep{
    width: 450px;
    height: auto;
   padding-top: 80px;
   padding-right: 80px;
   padding-left: 80px;
}
 
.kepek{
    background: black;  
    height: 550px;
}
 
.gomb1{
     border: none;
    background: goldenrod;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 12px 15px;
    margin: 25px 258.32px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
 
.gomb2{
     border: none;
    background: goldenrod;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 12px 15px;
    margin: 25px 258.32px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
 
.gomb3{
     border: none;
    background: goldenrod;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    padding: 12px 15px;
    margin: 25px 258.32px;
    cursor: pointer;
    border-radius: 10px;
    font-weight: bold;
}
 
.gomb1:hover{
    text-decoration: underline;
}
 
.gomb2:hover{
    text-decoration: underline;
}
 
.gomb3:hover{
    text-decoration: underline;
}
 
.csik{
    background: lightgrey;
    height: 2px;
    width: 100%;
    display: block;
    clear: both;
}