body{
    margin:0px;
    padding: 0px;
    font-family: Helvetica;
}
  
.menualso{
    background: black;
    align-items: center;
    transition: transform 0.3s ease;
    z-index: 1000;
    position: sticky;
}
 
.bal{
    width: 30%;
    display: flex;
    align-items: center;
}
 
.kozepso{
    width: 50%;
    display: flex;
    align-items: center;
}
 
.menukozepso{
    width: 30%;
}
 
.menubal{
    width: 0%;
}
 
.logokep{
    height: 280px;
    width: auto;
    margin: -130px 400px -110px -10px;
   
}
 
.menupont{
    color: goldenrod;
    text-decoration: none;
    font-size: 20px;    
    padding: 40px;
    display: inline-block;
    height: 20px;
    width: 150px;
    justify-content: space-between;
 
}
 
.menupont:hover{
    font-weight: bold
}
 
.felirat:hover{
    text-decoration:underline;
}
.nepszeru{
    width: 100%;
    height: auto;
    text-align: center;
    z-index: 2;
    
}
.teglalap{
    background: purple;
    height:980px;
    width: 100%;
    z-index: 1;
    bottom: 0;
}
 
footer{
    bottom: 0;
    background: black;
    width: 100%;
    height: 200px;
}
 
.link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: right;
}
 
.link:hover{
    font-weight: bold;
}
 
.kislogo{
    text-align: left;
    display: inline;   
}
.alsoszoveg{
    float: right;
    display:inline ;
    text-align: right;   
    padding-right: 30px;
}

.kisfilm1{
    width: 30%;
    border: 0%;
    margin: 20px;
    padding: 0%;
    height: 300px;
    float: left;
    margin-left: 33px;
}