*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.body-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}

img,
video    {
  max-width: 100%;
  height: auto;
  display: block;
}

.row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.col {
  flex: 1 1 0;
}

body{
    margin:0px;
    padding: 0px;
    font-family: Helvetica;
    overflow-x: hidden;
    background-color: #7f7979;
}

.szlogen{
    width: 100%;
    height: 100px;
    background-color: #c1bdb3;
    text-align: center;
    font-family: Bodoni Moda;
    font-style: italic;
    font-weight: bold;
    padding-top: 30px;
    font-size: 250%;
}

.anim{ 
    position: relative;
    width: 100%;
    max-width: 2000px;
    height: 600px;
    margin: auto;
    overflow: hidden;
}
.anim img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    animation: slider 12s infinite;
    padding-bottom: 40px;
}
.anim img:first-child {
  opacity: 1;
}

.anim img:nth-child(1) { 
    animation-delay: 0s; }

.anim img:nth-child(2) { 
    animation-delay: 4s; }

.anim img:nth-child(3) {
     animation-delay: 8s; }

@keyframes slider {
  0%   { opacity: 0; }
  8%   { opacity: 1; }
  30%  { opacity: 1; }
  38%  { opacity: 0; }
  100% { opacity: 0; }
}
  
.menualso {
  background: black;
  display: flex;
  justify-content: center;
}

.menukozepso {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}


.logokep {
  height: 80px;
  width: auto;
}

.menupont {
  width: 150px;
  text-align: center;
  font-weight: 500;
  color: goldenrod;
  font: helvetica;
  text-decoration: none;
}


footer {
  background: black;
  width: 100%;   
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kislogo {
  display: flex;
  align-items: center;
}

.alsoszoveg {
  text-align: right;
}

.alsoszoveg p {
  margin-bottom: 8px;
}

.link{
    text-decoration: none;
    color: white;
    font-weight: 500;
    text-align: center;
}
.link:hover{
    font-weight: bold;
}
.footer{
    background: black;
    width: 100%;
    height: 200px;
}
.alsoszoveg{
    display:inline ;
    text-align: right;   
    padding-right: 30px;
    float: center;
}
.felirat:hover{
    text-decoration:underline;
}
.menupont:hover{
    font-weight: 700;
}
.kislogo{
    text-align: left;
    display: inline;   
}
.cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 24px;
}
.card {
  padding: 16px;
  text-align: center;
}

.card img {
  margin-bottom: 30px;
  border-radius: 15px;
}

.card-gomb {
  display: inline-block;
  padding: 10px 20px;
  background: goldenrod;
  color: black;
  text-decoration: none;
  border-radius: 25px;
  font-weight: bold;
  transition: 0.2s;
}

.card-gomb:hover {
  background: #ffd700;
}

/*  Nagyobb mobil */
@media (min-width: 576px) {
  html {
    font-size: 16px;
  }
}


/*  Tablet */
@media (min-width: 768px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/*  Laptop */
@media (min-width: 1024px) {
  html {
    font-size: 18px;
  }
}


/*  Desktop */
@media (min-width: 1200px) {
  html {
    font-size: 18px;
  }

  .body-container {
    max-width: 1200px;
  }
}


/*  Nagy monitor */
@media (min-width: 1440px) {
  .body-container {
    max-width: 1920px;
  }
}